:root {
  --main-red: #dd3333;
  --main-black: #0c0c0c;
  --main-grey: #333333;
  --main-linkgrey: #8b8d94;
}

* {
  margin: 0;
  padding: 0;
  word-spacing: normal;
  font: 18px Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  position: relative;
  grid-template-areas: 
    "Header Header Header"
    "Content Content Content"
    "Footer Footer Footer";
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

ul {
  list-style: none;
}

.head-bar {
  top: 0;
  left: 0;
  grid-area: Header;
  /* position: fixed;
  display: flex;
  flex-direction: column; */
  width: 100vw;
  height: 140px;
}


.nav-promo {
  display: flex;
  background-color: var(--main-red);
  width: 100wv;
  height: 25%;
  padding: 0 2em 0 2em;
}

.nav-promo a {
  padding: .7em;
  font-size: 90%;
}

.nav-promo a:hover, i:hover {
  color: var(--main-linkgrey);
}

.navbar-menu {
  display: flex;
  background-color: var(--main-black);
  width: 100wv;
  height: 75%;
  padding: 0 2em 0 2em;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.nav-list {
  display: flex;
}

.navbar-menu a {
  padding: 1em;
  text-transform: uppercase;
}

.navbar-menu a:hover {
  color: var(--main-red);
}

#home-link {
  color: var(--main-red);
}



.to-top {
  bottom: 0;
  right: 0;
  margin: 1em;
  position: fixed;
  background-color: var(--main-linkgrey);
  color: #fff;
  width: 25px;
  height: 25 px;
  text-align: center;
}

.foot-bar {
  grid-area: Footer;
  left: 0;
  bottom: 0;
  width: 100wv;
  height: auto;
  padding: 3em 0;
  background-color: var(--main-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-bar p {
  color: #fff;
  font-size: .9em;
}

#content-section {
  grid-area: Content;
  display: grid;
  height: 150vh;
  grid-template-rows: auto;
  grid-template-columns: 3 1;
  grid-template-areas: 
    "Main Main Main Side";
  margin: 2em auto;
  grid-column-gap: 1.5em;
  width: 75vw;
}

#main-content {
  grid-area: Main;
  background-color: var(--main-linkgrey);
  /* border: 2px solid black; */

}
#side-content {
  grid-area: Side;
  background-color: var(--main-linkgrey);
  /* border: 2px solid black; */

}

.content-title {
  font-size: 3em;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--main-grey);
}
